.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.game {
  font-size: 1.25em;
  margin-bottom: 1em;
  border: 3px solid grey;
  padding: 1em;
  border-radius: 10px;
}

.game span {
  padding: 0 1em;
}
/*
.game-type {

}*/

.player-wins {
  color: blue;
}

.dealer-wins {
  color: red;
}

.ties {
  color: purple;
}
